<span class="badge btn-outline-light page-breadcrumb-bg btn-rounded p-2">Function Skill Map/ <a
        routerLink="/functional-skill-map/view-skill-map"> View Summary
    </a></span>

<h5 class="mb-0 pt-4 font-size-17"><button class="btn" onclick="history.back()"><i
            class="fas fa-arrow-left p-2"></i></button> View Summary </h5>


<div class="row custom-text">

    <div class="card my-2 p-3 shadow-none">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-theme table-row v-middle dt-responsive nowrap datatables ">
                    <thead class="table-light mt-2 shadow-lg">
                        <tr class="table-th-tr">
                            <th>Domain</th>
                            <th>Sub Domain</th>
                            <th>Level1 : Key Area</th>
                            <th>Level2 : Specialisation</th>
                            <th>Level3 : Core Specialisation</th>
                            <th>Target Proficiency Level</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="v-middle shadow-sm">
                            <td class="domain1"><span class="badge badge-soft-custom-purple font-size-11">Science
                                    and
                                    Engineering</span></td>
                            <td class="flex">
                                Subdomain
                            </td>
                            <td>level1</td>
                            <td><span>level2</span></td>
                            <td><span>level3</span> </td>
                            <td>
                                <p class="pb-0 mb-1">Authority</p>
                                <div class="progress gap-1">
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>

                                    <!--div class="progress-bar bg-info" role="progressbar" style="width: 16.6%"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div-->
                                </div>
                                <div class="progress gap-1 my-1">
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>


                                    <!--div class="progress-bar bg-info" role="progressbar" style="width: 16.6%"
                                                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div-->
                                </div>
                            </td>
                            <td>
                                <p class="badge badge-soft-secondary py-2 mb-0 me-2 font-size-13"><i
                                        class="fas fa-history"></i>
                                </p>
                                <p class="badge badge-soft-secondary py-2 mb-0 me-2 font-size-13"><i
                                        class="fa fa-ellipsis-v"></i>
                                </p>
                            </td>
                        </tr>
                        <tr class="v-middle shadow-sm">
                            <td class="domain2"><span class="badge badge-soft-custom-warning font-size-11">Research
                                    Methodology</span>
                            </td>
                            <td class="flex">
                                Materials Science
                            </td>
                            <td>Inorganic Materials</td>
                            <td><span>Novel Materials</span></td>
                            <td> </td>
                            <td>
                                <p class="pb-0 mb-1">Novice</p>
                                <div class="progress gap-1">
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="120"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="120"></div>

                                </div>
                                <div class="progress gap-1 my-1">
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>



                                    <!--div class="progress-bar bg-info" role="progressbar" style="width: 16.6%"
                                                                                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div-->
                                </div>
                            </td>
                            <td>
                                <p class="badge badge-soft-secondary py-2 mb-0 me-2 font-size-13"><i
                                        class="fas fa-history"></i>
                                </p>
                                <p class="badge badge-soft-secondary py-2 mb-0 me-2 font-size-13"><i
                                        class="fa fa-ellipsis-v"></i>
                                </p>
                            </td>
                        </tr>
                        <tr class="v-middle shadow-sm">
                            <td class="domain3"><span class="badge badge-soft-custom-primary font-size-11">Analytics
                                    &
                                    Digital</span>
                            </td>
                            <td class="flex">
                                Material Science
                            </td>
                            <td>Bio Materials</td>
                            <td><span>Coordination Chemistry</span></td>
                            <td></td>
                            <td>
                                <p class="pb-0 mb-1">Authority</p>
                                <div class="progress gap-1">
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="120"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="120"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="120"></div>

                                </div>
                                <div class="progress gap-1 my-1">
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar tech-depth-static-bar" role="progressbar"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>



                                    <!--div class="progress-bar bg-info" role="progressbar" style="width: 16.6%"
                                                                                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div-->
                                </div>
                            </td>
                            <td>
                                <p class="badge badge-soft-secondary py-2 mb-0 me-2 font-size-13"><i
                                        class="fas fa-history"></i>
                                </p>
                                <p class="badge badge-soft-secondary py-2 mb-0 me-2 font-size-13"><i
                                        class="fa fa-ellipsis-v"></i>
                                </p>
                            </td>
                        </tr>


                        <!--tr class="v-middle">
                                            <td class="domain1"><span
                                                    class="badge badge-soft-custom-purple font-size-11">Science
                                                    and
                                                    Engineering</span></td>
                                            <td class="flex">
                                                Material Science
                                            </td>
                                            <td>Polymers</td>
                                            <td><span>Novel Materials</span></td>
                                            <td><span>Nano & Biomaterials</span> </td>
                                        </tr>
                                        <tr class="v-middle">
                                            <td class="domain2"><span
                                                    class="badge badge-soft-custom-warning font-size-11">Research
                                                    Methodology</span>
                                            </td>
                                            <td class="flex">
                                                Materials Science
                                            </td>
                                            <td>Inorganic Materials</td>
                                            <td><span>Novel Materials</span></td>
                                            <td> </td>
                                        </tr>
                                        <tr class="v-middle">
                                            <td class="domain3"><span
                                                    class="badge badge-soft-custom-primary font-size-11">Analytics
                                                    &
                                                    Digital</span>
                                            </td>
                                            <td class="flex">
                                                Material Science
                                            </td>
                                            <td>Bio Materials</td>
                                            <td><span>Coordination Chemistry</span></td>
                                        </tr-->

                    </tbody>
                </table>
            </div>
        </div>

    </div>






</div>