<div *ngIf="
    currentUserId.role != this.appRoles.roles[4] &&
    currentUserId.tempRole != this.appRoles.roles[4]
  ">
    <span class="badge btn-outline-light page-breadcrumb-bg btn-rounded p-2 font-size-13 text-capitalize">Profile /{{
        basicInfo?.emp_nm | lowercase }} /<a style="color: #00448a">Technical Skills</a>
    </span>

    <h5 class="mb-0 font-size-23 heading-black" style="margin-left: -10px; padding-top: -0.5rem">
        <a class="btn pointer" onclick="history.back()"><i class="fas fa-arrow-left p-2"></i></a>
        Technical Skills of
        <a class="text-capitalize heading-black">{{
      basicInfo?.emp_nm | lowercase
    }}</a>
    </h5>
</div>

<div class="row custom-text">
    <div class="card rounded_card mt-2 bg-wrap shadow-lg">
        <div class="card-body bg-content">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="d-flex">
                        <div>
                            <img _ngcontent-ado-c113="" src="assets/images/menu-icon/TechnicalSkill.png" alt=""
                                class="d-block" />
                        </div>
                        <div style="margin-left: 5px">
                            <h5 class="heading-black">Technical Skills</h5>
                            <!-- <p class="heading-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p> -->
                            <div *ngIf="
                  (currentUserId.role == this.appRoles.roles[2] &&
                    currentUserId.tempRole == this.appRoles.roles[2]) ||
                  (currentUserId.role == this.appRoles.roles[0] &&
                    basicInfo?.fl_emp_mapping.designation_nm == 'R&D DIRECTOR')
                ">
                                <div *ngIf="pendingCount" class="col-lg-12"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="row">
                        <span class="col-4 px-0 pt-2"><label for="floatingInput" class="font-size-16">Sort By :
                            </label></span>
                        <span class="col-8 px-0">
                            <ng-select [(ngModel)]="listSelected" [searchable]="false"
                                (ngModelChange)="getSelectedListItem($event)" style="text-align: left;"
                                [items]="sortList" bindLabel="value" bindValue="key" [clearable]="false">
                                <ng-option *ngFor="let list of sortList" [value]="list">
                                </ng-option>
                            </ng-select>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card rounded_card shadow-lg">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-theme table-row v-middle">
                            <thead class="table-light table-bordered rounded_card shadow-lg">
                                <tr class="table-th-tr">
                                    <th>Department</th>
                                    <th>Sub Department</th>
                                    <th (click)="sort('domain_nm')">
                                        Domain<i class="fa fa-sort-up m-2" *ngIf="this.isDesc"></i><i
                                            class="fa fa-sort-down m-2" *ngIf="!this.isDesc"></i>
                                    </th>
                                    <th>Sub Domain</th>
                                    <th>Level 1 : Key Areas</th>
                                    <th>Level 2 : Specialisation</th>
                                    <th>Level 3 : Core Specialisation</th>
                                    <th *ngIf="
                      currentUserId.role != this.appRoles.roles[4] &&
                      currentUserId.tempRole != this.appRoles.roles[4]
                    ">
                                        Target Proficiency Level
                                    </th>
                                    <th *ngIf="
                      currentUserId.role != this.appRoles.roles[4] &&
                      currentUserId.tempRole != this.appRoles.roles[4]
                    ">
                                        Technical Depth
                                    </th>
                                    <th *ngIf="
                      currentUserId.role != this.appRoles.roles[4] &&
                      currentUserId.tempRole != this.appRoles.roles[4]
                    "></th>
                                    <th *ngIf="
                                    currentUserId.role != this.appRoles.roles[4] &&
                                    currentUserId.tempRole != this.appRoles.roles[4]
                                  "></th>
                                </tr>
                            </thead>

                            <tbody class="table_content shadow-lg">
                                <tr height="10px" class="v-middle shadow-lg" *ngFor="let techSkill of techSkillInfo">
                                    <td [ngClass]="
                      techSkill.domain_id == 1
                        ? 'domain1'
                        : techSkill.domain_id == 2
                        ? 'domain2'
                        : techSkill.domain_id == 3
                        ? 'domain3'
                        : 'border-left-success'
                    "> {{techSkill.team_skills_info.dept_info.name}} </td>
                                    <td> {{techSkill.team_skills_info?.subdept_info?.name}} </td>
                                    <td>
                                        <span [ngClass]="
                        techSkill.domain_id == 1
                          ? 'badge-soft-custom-purple'
                          : techSkill.domain_id == 2
                          ? 'badge-soft-custom-primary'
                          : techSkill.domain_id == 3
                          ? 'badge-soft-custom-warning'
                          : 'badge-soft-custom-green'
                      " class="font-size-14 badge shadow-lg text-capitalize">
                                            {{
                        techSkill.team_skills_info.domain_info.domain_nm
                          | lowercase
                      }}
                                        </span>
                                    </td>
                                    <td class="flex font-size-14 text-capitalize">
                                        {{
                      techSkill.team_skills_info.subdomain_info?.subdomain_nm
                        | lowercase
                    }}
                                    </td>
                                    <td class="font-size-14 text-capitalize">
                                        {{ techSkill.team_skills_info.level1.skill_nm | lowercase }}
                                    </td>
                                    <td>
                                        <span class="font-size-14 text-capitalize">{{
                      techSkill.team_skills_info.level2?.skill_nm | lowercase
                    }}</span>
                                    </td>
                                    <td>
                                        <span class="font-size-14 text-capitalize">{{
                      techSkill.team_skills_info.level3?.skill_nm | lowercase
                    }}</span>
                                    </td>
                                    <td *ngIf="
                      currentUserId.role != this.appRoles.roles[4] &&
                      currentUserId.tempRole != this.appRoles.roles[4]
                    ">
                                        <span class="font-size-14 text-capitalize">{{
                      techSkill.team_skills_info.technical_depth
                        ?.technical_depth_nm | lowercase
                    }}</span>
                                        <div class="progress gap-1">
                                            <div *ngFor="
                          let level of counter(
                            techSkill.team_skills_info.technical_depth.level_no
                          );
                          let i = index
                        " class="progress-bar tech-depth-static-bar" role="progressbar" aria-valuenow="20"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td *ngIf="
                      currentUserId.role != this.appRoles.roles[4] &&
                      currentUserId.tempRole != this.appRoles.roles[4]
                    ">
                                        <span class="font-size-14 text-capitalize">
                                            {{
                        techSkill.approval_status == 0 ||
                        techSkill.approval_status == 2
                          ? (techSkill.technical_depth
                              ? techSkill.technical_depth.technical_depth_nm
                              : "N/A") +
                            "  → " +
                            (techSkill.technical_depth_to_approve
                              ? techSkill.technical_depth_to_approve
                                  .technical_depth_nm
                              : " ")
                          : techSkill.technical_depth.technical_depth_nm
                      }}
                                        </span>
                                        <div class="progress gap-1" *ngIf="techSkill.technical_depth">
                                            <div *ngFor="
                          let level of counter(
                            techSkill.technical_depth.level_no
                          );
                          let i = index
                        " class="progress-bar tech-depth-static-bar" role="progressbar" aria-valuenow="20"
                                                aria-valuemin="0" aria-valuemax="100" [ngClass]="{
                          'progress-bg1':
                            techSkill.team_skills_info.technical_depth
                              .level_no == -1 ||
                            techSkill.team_skills_info.technical_depth
                              .level_no -
                              techSkill.technical_depth.level_no ==
                              4,
                          'progress-bg2':
                            techSkill.team_skills_info.technical_depth
                              .level_no -
                              techSkill.technical_depth.level_no ==
                            3,
                          'progress-bg3':
                            techSkill.team_skills_info.technical_depth
                              .level_no -
                              techSkill.technical_depth.level_no ==
                            2,
                          'progress-bg4':
                            techSkill.team_skills_info.technical_depth
                              .level_no -
                              techSkill.technical_depth.level_no ==
                            1,
                          'progress-bg5':
                            techSkill.team_skills_info.technical_depth
                              .level_no != -1 &&
                            techSkill.technical_depth.level_no >=
                              techSkill.team_skills_info.technical_depth
                                .level_no
                        }"></div>
                                        </div>
                                    </td>
                                    <td *ngIf="
                                    currentUserId.role != this.appRoles.roles[4] &&
                                    currentUserId.tempRole != this.appRoles.roles[4]
                                  ">
                                        <i *ngIf="techSkill.approval_status == 0" title="Waiting for Approval"
                                            class="fa fa-user-clock text-info"></i>
                                        <i *ngIf="techSkill.approval_status == 1" title="Approved"
                                            class="far fa-check-circle text-success"></i>
                                        <i *ngIf="techSkill.approval_status == 2" title="Rejected"
                                            class="far fa-times-circle text-danger"></i>
                                    </td>
                                    <td *ngIf="
                      currentUserId.role != 'employee' &&
                      currentUserId.tempRole != 'employee'
                    ">
                                        <a data-bs-toggle="modal" data-bs-target="#qualitativeCommentModel" (click)="
                        qualitativeCommentModelFn(qualitativeCommentModel);
                        getComment(techSkill.skill_mapping_id)
                      " class="text-muted">
                                            <i class="fas fa-comment-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="!techSkillInfo || techSkillInfo.length == 0">
                                No Technical Skills
                            </tfoot>
                        </table>
                    </div>

                    <div class="row" *ngIf="!techSkillInfo">
                        <div class="col-lg-12 text-center">
                            <div class="spinner-border text-secondary m-1 text-center" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12">
        <div class="text-md-right float-md-end pagination-rounded">
            <ngb-pagination class="d-flex justify-content-end mr-auto pagination mt-2" [collectionSize]="totalCount"
                [(page)]="page" [pageSize]="limit" [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"
                (pageChange)="loadPage(page)">
            </ngb-pagination>
        </div>
    </div>

    <ng-template #qualitativeCommentModel let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="qualitativeCommentModelTitle">
                Update Employee Qualitative Comment
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.close('Close click')"></button>
        </div>
        <form name="techSkillCommentUpdateForm" (ngSubmit)="fs.form.valid && onSubmit(fs)" #fs="ngForm" role="form"
            class="form" novalidate>
            <div class="card rounded_card mb-0 shadow-lg">
                <div class="card-body">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="qualitative_comments_nm" class="font-size-16 body-black">Qualitative
                                    Comments</label>
                                <span class="text-danger">*</span>
                                <textarea class="form-control" placeholder="" id="qualitative_comments_nm"
                                    [(ngModel)]="qualitativeComment" #qualitative_comments_nm="ngModel" [disabled]="
                    (currentUserId.role == this.appRoles.roles[1] &&
                      currentUserId.role == this.appRoles.roles[0]) ||
                    commmentApprovalStatus == 1
                  " [ngClass]="{
                    'is-invalid':
                      fs.submitted && qualitative_comments_nm.invalid
                  }" name="qualitative_comments_nm" style="height: 100px" required></textarea>
                                <span class="text-danger" *ngIf="fs.submitted && qualitative_comments_nm.invalid">
                                    <span>Qualitative Comment is required</span>
                                </span>
                                <input type="hidden" name="skill_mapping_id" [(ngModel)]="getQualitativeCommentID" />
                            </div>
                        </div>

                        <div class="modal-footer cursor-pointer">
                            <button type="button" class="btn custom_btn_danger" data-bs-dismiss="modal"
                                aria-label="Close" (click)="modal.close('Close click')">
                                Close
                            </button>
                            <button *ngIf="
                  currentUserId.role != this.appRoles.roles[1] &&
                  commmentApprovalStatus != 1
                " type="submit" class="btn custom_btn" id="btn-save-event">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>