.custom-text {
    font-size: 13 !important;
    /*font-family: "Roboto",
        sans-serif !important;
        */
}

.badge-soft-custom-primary {
    background-color: #c3dffa;
    color: #1d527c;
    padding: 7px;
}

.badge-soft-custom-warning {
    background-color: #fdefdb;
    color: #a35828;
    padding: 7px;
}

.badge-soft-custom-purple {
    background-color: #eac4ff;
    color: #904fab;
    padding: 7px;
}

.rectangle {
    border-radius: 12px;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #e4e4e4;
    background-color: #fff;
}

.textalign {
    margin-left: 857px;
    margin-top: -33px;
}

.textalign1 {
    margin-top: -33px;
}

.textalign2 {
    margin-left: 975px;
    margin-top: -38px;
}

.d-block {
    margin-top: 8px;
}


