.blockquote {
    border-left: none;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    background-color: #038edc;
    border-color: #038edc ;
    margin-right: 0;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
}  

.badge-soft-custom-primary {
    background-color: #c3dffa;
    color: #1d527c;
    padding: 7px;
    
}

.badge-soft-custom-warning {
    background-color: #fdefdb;
    color: #a35828;
    padding: 7px;
    
}

.badge-soft-custom-purple {
    background-color: #eac4ff;
    color: #904fab;
    padding: 7px;
    
}

.badge-soft-custom-green {
    background-color: #f0f8f0;
    color: #64a559;
    padding: 7px;
    
}

.badge-soft-custom-orange {
    background-color: #f8f0ed;
    color: #e86838;
    padding: 7px;
    
}

.badge-soft-custom-blue {
    background-color: #f4f0fd;
    color: #916ff7;
    padding: 7px;
    height: 30px;
}

.date1{
    width: 66% !important;
    margin-left: -20px;
}

.date{
    margin-left: -11px;
}
.scroll {
    height:125px;
    overflow-y: auto;
  }
  
.editbutton{
    margin-left: 225px;
    margin-top:-34px;
    color: #00448a;
}


.iconstudy{
    margin-top: 7px;
    height: 46px;
}

.col-lg-11{
    margin-left: -5px;
    margin-top: 1px;
}

.btnalign{
    margin-top: 12px;
}

.approved{
    font-size: 13px !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.23 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #64748b !important;
    margin-bottom: 33px !important;
}

.headcard{
    margin-bottom: 35px;
}

.approvebtn{
  margin-right: 10px;
  margin-bottom: -100px;
  margin-top: 5px;

}

.rejectbtn{
    margin-left: 66px;
    margin-top: 42px;
    margin-bottom: -120px;
}

.approved1{
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #64748b;
   margin-bottom: -12px;
   margin-top: 18px;
  
}

.headalign{
    margin-top: 7px;
}
  

.sidebar-menu-scroll {
    height: calc(100% - 70px);
    margin-top: 10px;
}
