<div class="authentication-bg min-vh-100">
    <div class="bg-overlay bg-white"></div>
    <div class="container">
        <div class="d-flex flex-column min-vh-100 px-3 pt-4">
            <div class="row justify-content-center my-auto">
                <div class="col-md-8 col-lg-6 col-xl-4">

                    <div class="text-center py-5">
                        <div class="mb-4 mb-md-5">
                            <a routerLink="/" class="d-block auth-logo">
                                <img src="assets/images/logo-light.png" alt="" width="200px" class="auth-logo-dark">
                                <img src="assets/images/logo-dark.png" alt="" width="200px" class="auth-logo-light">
                            </a>
                        </div>
                        <div class="text-muted mb-4">
                            <h5 class="">Change Password</h5>
                        </div>
                        <form [formGroup]="changePswdForm" (ngSubmit)="onSubmit()">

                            <div class="form-floating form-floating-custom mb-3">
                                <input type="password" class="form-control" id="input-currentpassword"
                                    formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    placeholder="Enter Current Password">
                                <label for="input-currentpassword">Current Password</label>
                                <div class="form-floating-icon">
                                    <i class="uil uil-padlock"></i>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback" align="left">
                                    <div *ngIf="f.password.errors.required">Current Password is required</div>
                                </div>
                            </div>
							
							<div class="form-floating form-floating-custom mb-3">
                                <input type="password" class="form-control" id="input-newpassword"
                                    formControlName="new_password"
                                    [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }"
                                    placeholder="Enter New Password"
									minlength="8"
									maxlength="15">
                                <label for="input-newpassword">New Password</label>
                                <div class="form-floating-icon">
                                    <i class="uil uil-padlock"></i>
                                </div>
                                <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback" align="left">
                                    <div *ngIf="f.new_password.errors.required">New Password is required</div>
									<div *ngIf="f.confirm_password.errors?.minlength">New Password must be at least 8 characters long</div>
									<div *ngIf="f.confirm_password.errors?.maxlength">New Password can be max 15 characters long</div>
                                </div>
                            </div>

                            <div class="form-floating form-floating-custom mb-3">
                                <input type="password" class="form-control" id="input-confirmpassword"
									formControlName="confirm_password"
                                    [ngClass]="{ 'is-invalid': submitted && (f.confirm_password.errors || changePswdForm.hasError('mismatch')) }"
                                    placeholder="Enter Confirm password" aria-label="confirm_password"
                                    aria-describedby="password-addon"
									minlength="8"
									maxlength="15">
                                <label for="input-confirmpassword">Confirm Password</label>
                                <div class="form-floating-icon">
                                    <i class="uil uil-check-circle"></i>
                                </div>
                                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback" align="left">
                                    <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
									<div *ngIf="f.confirm_password.errors?.minlength">Confirm Password must be at least 8 characters long</div>
									<div *ngIf="f.confirm_password.errors?.maxlength">Confirm Password can be max 15 characters long</div>
                                </div>
								<div *ngIf="changePswdForm.hasError('mismatch')" class="invalid-feedback" align="left">
									<div>New and Confirm Password does not match</div>
								</div>
                            </div>

                            <div class="mt-3">
                                <button class="btn btn-info w-100" type="submit">Change</button>
                            </div>
                        </form><!-- end form -->

                        <div class="mt-5 text-center text-muted">
                            <p><a routerLink="/"
                                    class="fw-medium text-decoration-underline"> Go back </a></p>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div>
    </div><!-- end container -->
</div>